.todo-input-label {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  background: #333;
  height: 3em;
}

.todo-input {
  flex: 1 1 auto;
  font-size: 1rem;
  padding: 0.25em;
  border: none;
  height: calc(100% - 2px);
  margin-left: 1px;
}

.todo-input-btn {
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 100%;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-btn {
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  background: rgb(152, 178, 181);
  padding: 1em;
}