<li *ngIf="todo" [class]="{'is-complete': todo.isComplete}">
  <label>
    <ng-container *ngIf="isEditing">
      <input class="title-input" [(ngModel)]="title" (keyup.enter)="onSave()" (blur)="onSave()" autofocus />
    </ng-container>
    <ng-container *ngIf="!isEditing">
      <input type="checkbox" (change)="onChangeIsComplete()" [checked]="todo.isComplete">
      <div class="title">{{todo.title}}</div>
      <div class="actions">
        <button (click)="onClickEdit()">✏️</button>
        <button (click)="onClickDelete()">🗑️</button>
      </div>
    </ng-container>
  </label>
</li>